<div class="row middle-xs">
  <div class="col-xs-6 col-md-9">
    <div class="field">
      <%= f.label :title, "Titre*" %>
      <%= f.text_field :title, placeholder: "Titre", required: true, class: "subtitle-1" %>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 end-xs">
    <%= f.submit "Enregistrer" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-lg-2">
    <div class="field">
    <%= f.label :artist, "Artiste" %>
    <%= f.text_field :artist, placeholder: "Artiste" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-lg-2">
    <div class="field">
      <%= f.label :duration, "Durée" %>
      <%= f.text_field :duration, placeholder: "Durée" %>
    </div>    
  </div>
  <div class="col-xs-3 col-md-2">
    <div class="field">
      <%= f.label :bpm, "BPM" %>
      <%= f.text_field :bpm, placeholder: "BPM" %>
    </div>    
  </div>
</div>