
<div class="sidebar sidebar-phone">
  <div class="sidebar__header">
    <div class="sidebar__logo">
      <%= image_pack_tag('logos/logo_text.svg') %>
    </div>
    <div class="sidebar__menu">
      <span class="icon-text-align-justify"></span>
    </div>
  </div>
  <div class="sidebar__nav">
    <div class="sidebar__item">
      <div class="link">
        <span class="icon-music-note"></span>
        <%= link_to "Chants", songs_url, class: "subtitle-2" %>
      </div>
      <div class="action">
        <%= link_to new_song_url do %>
          <span class="action__add icon-plus"></span>
        <% end %>
      </div>
    </div>
    <div class="sidebar__item">
      <div class="link">
        <span class="icon-player-list"></span>
        <%= link_to "Setlists", root_url, class: "subtitle-2" %>
      </div>
      <div class="action">
        <span class="action__add icon-plus"></span>
      </div>
    </div>
    <div class="sidebar__item">
      <div class="link">
        <span class="icon"></span>
        <%= link_to "Commencer une diffusion", root_url, class: "subtitle-2" %>
      </div>
    </div>
  </div>
</div>